$GRAY1: #f8f9ff;
$GRAY2: #efeff1;
$GRAY3: #d1d1e6;
$GRAY4: #a9aabc;
$GRAY5: #5c5d6d;
$GRAY6: #9cadbc;
$GRAY7: #aea8ba;

$BLACK1: #454655;
$BLACK2: #232425;
$BLACK3: #313435;
$BLACK4: #47484a;

$GREEN1: #008a64;
$GREEN2: #4e8074;

$BLUE1: #00a9ba;
$BLUE2: #0c6d98;
$BLUE3: #98c7ca;
$BLUE4: #8d76d8;
$BLUE5: #494454;
$BLUE6: #897bac;

$RED1: #a74843;
$RED2: #c43831;
$RED3: #837090;
