@use 'src/styles/constants/colors';

.detail {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid colors.$GRAY2;
  border-radius: 10px;

  dt {
    position: absolute;
    font-size: 14px;
    color: colors.$GRAY5;
  }

  dd {
    margin-top: 28px;
  }

  :nth-child(2) {
    font-weight: 500;
    color: colors.$BLACK1;
  }

  :nth-child(3) {
    color: colors.$GREEN1;
  }

  .red {
    color: colors.$RED1;
  }

  :root[color-theme='dark'] & {
    background-color: colors.$BLACK3;
    border: 1px solid colors.$BLACK4;

    dt {
      color: colors.$GRAY4;
    }

    :nth-child(2) {
      font-weight: 500;
      color: colors.$GRAY3;
    }

    :nth-child(3) {
      color: colors.$GREEN2;
    }

    .red {
      color: colors.$RED3;
    }
  }
}
