@use 'src/styles/constants/colors';

.homeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d6e9e6;
  transition: 300ms background-color;

  .home {
    width: 100%;
    min-width: 280px;
    max-width: 360px;
    min-height: 600px;
    max-height: 720px;
    background-color: colors.$GRAY1;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 20%) 0 2px 8px 0;

    .main {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }

  :root[color-theme='dark'] & {
    background-color: colors.$GRAY7;

    .home {
      background-color: colors.$BLACK2;
    }
  }
}
