@use 'src/styles/constants/colors';

.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  min-height: 200px;
  max-height: 250px;
  margin-bottom: 10px;

  .noChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;

    p {
      padding: 5px 0 15px;
      font-size: 14px;
      font-weight: 500;
      color: colors.$GRAY6;

      :root[color-theme='dark'] & {
        color: colors.$GRAY4;
      }
    }
  }

  .chartDetail {
    display: flex;
    align-items: center;
    justify-content: center;

    .expenditure {
      border-right: 0.8px solid colors.$GRAY3;

      > dd {
        color: colors.$RED1;
      }
    }

    > dl {
      width: 130px;
      padding: 5px 0;
      text-align: center;

      > dt {
        padding-bottom: 5px;
        font-size: 14px;
        color: colors.$BLACK1;
      }

      > dd {
        font-size: 18px;
        color: colors.$GREEN1;
      }
    }

    :root[color-theme='dark'] & {
      .expenditure {
        border-right: 0.8px solid colors.$BLACK4;

        > dd {
          color: colors.$RED3;
        }
      }

      > dl {
        > dt {
          color: colors.$GRAY3;
        }

        > dd {
          font-size: 18px;
          color: colors.$GREEN2;
        }
      }
    }
  }
}
