@use 'src/styles/constants/colors';

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .content {
    position: relative;
    width: 300px;
    height: 70%;
    padding: 20px;
    overflow-y: scroll;
    background-color: colors.$GRAY1;
    border-radius: 20px;

    p {
      padding: 5px 0;
      margin-bottom: 10px;
      font-weight: 500;
      border-bottom: 1px solid colors.$GRAY2;
    }

    .calendar {
      padding: 10px 10px 30px;
      color: colors.$GRAY4;
    }

    .typeBtns {
      display: flex;
      width: 100%;
      margin-bottom: 10px;

      label {
        width: 100%;
        padding: 10px;
        margin: 5px;
        font-size: 14px;
        color: colors.$GRAY5;
        text-align: center;
        cursor: pointer;
        background-color: white;
        border: 0.5px solid colors.$GRAY3;
        border-radius: 10px;
      }

      input:checked + label {
        color: colors.$GRAY1;
        background-color: colors.$BLUE2;
      }
    }

    .textInput {
      width: 100%;
      padding: 10px;
      margin-bottom: 30px;
      background-color: colors.$GRAY2;
      border-radius: 10px;

      &::placeholder {
        font-size: 14px;
        color: gray;
      }
    }

    .submitBtns {
      display: flex;

      button {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
      }

      .addBtn {
        flex: 2 1 0;
        color: colors.$GRAY1;
        background-color: colors.$BLUE2;
      }

      .backBtn {
        flex: 1 1 0;
        color: colors.$GRAY5;
        background-color: white;
        border: 0.5px solid colors.$GRAY3;
      }
    }
  }
}
